<div class="row">
    <div class="row text-uppercase hidden-xs cart-items-title">
        <div class="col-sm-6">
            <span>{{i18n "main:common.description"}}</span>
        </div>
        <div class="col-sm-2{{#unless editable}} text-center{{/unless}}">
            <span>{{i18n "main:common.quantity"}}</span>
        </div>
        <div class="col-sm-2 text-right">
            <span>{{i18n "main:common.price"}}</span>
        </div>
        <div class="col-sm-2 text-right">
            <span>{{i18n "checkout:total"}}</span>
        </div>
    </div>
</div>