.thankyou-page-title {
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 24px 0 14px;
}

.thankyou-page-content {
  background-color: $white;
  padding: 14px;
  border: 1px solid $alto;
  margin-bottom: 28px;
}

.thankyou-confirmation {
  .thankyou-email {
    color: $ship-cove;
  }
}

.print-receipt-btn {
  color: $gray;
  font-size: 1.2em;
  padding: 10px 20px;
  border: 1px solid $gray;
  text-transform: uppercase;
  letter-spacing: 1px;
  &:hover {
    color: $mine-shaft;
    border: 1px solid $mine-shaft;
  }
}

.thankyou-buttons {
  padding: 1em 0 0 0;
}

.thankyou-continue-shopping-btn {
  background: $my-sin;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px 20px;
  letter-spacing: 1px;
  &:hover {
    background: lighten($my-sin, 5%);
  }
}

.order-details-title {
  text-transform: uppercase;
  border-bottom: 1px solid $alto;
  padding: 14px 0;
  letter-spacing: 1px;
  font-size: 1.1em;
}

.order-number-date {
  padding: 12px 0;
  color: $gray;
  span {
    display: inline-block;
  }
  .number-date-title {
    padding-right: 14px;
  }
}

.thankyou-order-summary {
  margin: -14px;
  .cart-item-name {
    font-size: 16px;
  }
  .cart-attributes {
    font-size: 14px;
  }
  .quantity-number {
    font-size: 14px;
  }
}

@media screen and (max-width: 414px) {
  .print-receipt-btn {
    margin: 24px 0;
    width: 100%;
  }
  .thankyou-buttons {
    li {
      width: 100%;
    }
  }
  .thankyou-continue-shopping-btn {
    width: 100%;
    display: block;
    text-align: center;
  }
}
