/*****************************************************************************/
/*
/* FOOTER
/*
/*****************************************************************************/

.footer {
    background: $ebony-clay;
}

#footer {
  font-size: 1em;
  font-weight: 400;
  padding-top: 2em;
  color: white;
  background: $ebony-clay;
  letter-spacing: 0.1em;
}

.sub-footer {
  background: $mine-shaft;
  padding: 1em 0;
  font-size: 1em;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
}

#footer ul {
  list-style: none;
  padding-left: 0;
}

#footer ul li {
  padding: 0.5em 0;
}

.footer-title {
  color: $silver-chalice;
  font-size: 1em;
  margin: 0 0;
}

.newsletter-box {
  padding: 3em 0;
}

.email-box {
  height: 40px;
  width: 100%;
  background: $mine-shaft;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  padding: 0.5em 0.5em;
}

.email-submit {
  .search-button {
    outline: none;
    background: none;
    border: none;
    position: absolute;
    top: -1px;
    right: 12px;
    font-size: 26px;
    color: $white;
    padding: 8px 10px 8px 20px;
    line-height: 10px;
  }
}

.card-info {
  padding-top: 2.5em;
}

.payment-cards {
  width: 240px;
}

.footer-title-yellow {
  color: $my-sin;
  padding-top: 0.7em;
}

.social-icons li {
  display: inline-block;
}

.social-icon {
  max-height: 25px;
  padding-right: 0.5em;
  margin-top: -10px;
  &:hover {
    transform: scale(1.1);
  }
}

.imprint-row  {
  padding: 0;
    li {
      list-style: none;
      display: inline;
      padding: 0 1em 0 0;
    }
}

@media screen and (min-width: 992px) {
  .footer-col {
    border-right: 1px solid rgba(255,255,255,0.1);
    height: 200px;
  }
}
