.imprint-title {
  padding: 20px 0;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 200;
}
.imprint-wrapper {
  padding: 20px 20px 100px;
  border: 1px solid $alto;
  background-color: $white;
  margin-bottom: 50px;
}
