.payment-details {
  padding-bottom: 50px;
}
.payment-details-wrapper {
  background: $white;
  border: 1px solid $alto;
  padding: 20px;
}
.payment-details-title {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 0 0 10px;
  border-bottom: 1px solid $alto;
}
.payment-details-box-titles {
  text-transform: uppercase;
  font-size: 14px;
  padding: 20px 0 10px;
}
.payment-details-dark-box {
  background: $wild-sand;
  padding: 15px 10px;
  color: $gray;
  position: relative;
  margin-bottom: 15px;
  .payment-details-dark-box-title {
    color: $mine-shaft;
    font-size: 14px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }
}
.payment-details-box-edit-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 15px 0 0;
  button {
    text-transform: uppercase;
    font-size: 12px;
    img {
      height: 12px;
      margin: 0 5px 5px 0;;
    }
  }
}
.add-new-payment-btn {
  button {
    text-transform: uppercase;
    background: $my-sin;
    padding: 10px 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 15px;
    font-size: 16px;
    &:hover {
      background: lighten($my-sin, 5%);
    }
  }
}
.payment-details-white-box {
  border: 1px solid $alto;
  padding: 15px 10px;
  color: $gray;
  position: relative;
  margin-bottom: 15px;
  .payment-details-white-box-title {
    color: $mine-shaft;
    font-size: 14px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }
}
.payment-details-edit-delete {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 15px 0 0;
  button {
    text-transform: uppercase;
    font-size: 12px;
    img {
      height: 12px;
      margin: 0 5px 5px 0;;
    }
  }
}
