.my-account-login-page-title {
  padding: 30px 0 20px;
  span {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 200;
    &:before {
      position: relative;
      bottom: -3px;
      margin-right: 10px;
    }
  }
}
.login-signup-box-wrapper {
  padding-bottom: 50px;
}
.signup-box-mobile {
  @media screen and (max-width: 767px) {
    margin-top: 40px;
  }
}
