/*****************************************************************************/
/*
/* PAGINATION
/*
/*****************************************************************************/

.item-list-pagination {
  margin-bottom: 20px;
  width: 75%;

  /* Overwrite selectboxit library */
  .selectboxit-container span, .selectboxit-container .selectboxit-options a {
    height: 30px;
    line-height: 30px;
  }
  select.select {
    height: 30px;
    padding: 0 30px 0 10px;
    color: $gray;
  }

  .item-count {
    display: inline-block;
    top: 0;
    margin: 0 10px;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
    float: none;
    margin-left: 0;
  }
}
.custom-pagination {
  text-align: center;
}
.pagination {
  margin: 0;
  border-radius: 0;
  min-width: 55px;
  text-align: center;
}

.pagination-item {
  font-size: 18px;
  vertical-align: middle;
  &:hover {
    color: $my-sin;  
  }
  button[disabled] {
    color: $bombay;
  }
}

#scroll-to-top {
  // display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  outline: none;
  font-size: 15px;
  background-color: $my-sin;
  opacity: 0.9;
  color: $ebony-clay;
  cursor: pointer;
  padding: 7px 20px 7px 20px;
  text-transform: uppercase;
}