.signup-box-wrapper {
  background: $white;
  border: 1px solid $alto;
  padding: 20px;
  .selectboxit-btn {
    background: transparent url("../img/arrow-67-filled.png") no-repeat 95% 50%;
    background-size: 12px;
    border: solid 1px #D6D6D6;
  }
}
.signup-box-title {
  text-transform: uppercase;
  font-size: 18px;
}
.signup-box-required {
  color: $gray;
}
.signup-box-hr {
  margin: 10px 0;
  border-top: 1px solid $alto;
}
.signup-box-description {
  padding: 20px 0 30px;
}
.signup-box-input {
  margin-top: 10px;
  span {
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 5px;
  }
  input {
    width: 100%;
    padding: 5px 10px;
  }
}
.signup-box-newsletter {
  letter-spacing: 1px;
  margin-top: 40px;
  input {
    margin-right: 5px;
  }
  a {
    color: $gray;
    text-decoration: underline;
  }
}
.signup-box-terms {
  letter-spacing: 1px;
  margin-top: 5px;
  input {
    margin-right: 5px;
  }
  a {
    color: $gray;
    text-decoration: underline;
  }
}
.signup-box-policy {
  letter-spacing: 1px;
  margin-top: 5px;
  a {
    color: $gray;
    text-decoration: underline;
  }
}
.signup-register-btn {
  background-color: $my-sin;
  text-transform: uppercase;
  padding: 10px 15px;
  margin-top: 40px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  &:hover {
    background-color: lighten($my-sin, 5%);
  }
}
