.store-finder-title {
  padding: 20px 0;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 200;
}
.store-finder-wrapper {
  padding: 20px;
  border: 1px solid $alto;
  background-color: $white;
  margin-bottom: 50px;
}
.stores-description {
  padding: 10px 0;
  text-align: center;
  letter-spacing: 1px;
  font-size: 16px;
}
.store-finder-box {
  background: lighten($alto, 10%);
  margin-top: 20px;
  padding: 20px;
}
.store-finder-label {
  margin-right: 10px;
  min-width: 70px;
}
.store-finder-input {
  border: solid 1px $alto;
  padding: 7px;
}
.store-finder-submit-btn {
  text-transform: uppercase;
  background-color: $my-sin;
  padding: 8px 16px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-top: 20px;
  &:hover {
    background-color: lighten($my-sin, 5%);
  }
}
.store-finder-select {
  appearance: none;
  margin: 0 10px 0 0;
  background: $white url("../img/arrow-67-filled.png") no-repeat 95% 50%;
  background-size: 12px;
  padding: 10px 50px 10px 10px;
  border-radius: 0;
  border: solid 1px $alto;
  color: $gray;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
}
.store-finder-option-select {
  margin-top: 5px;
}
.store-finder-store-info {
  .store-finder-store-info-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
  }
}
