<div id="forgot-password-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordModal">
  <div class="modal-dialog">
    <div class="modal-content password-reset-modal-content">
      <div>
        <div class="forgotten-password-title">{{i18n "main:forgotPasswordModal.title"}}</div>
        <div class="forgotten-password-description">{{i18n "main:forgotPasswordModal.description"}}</div>
        <hr>
        <form id="" action="" method="post">
          <div class="forgot-password-input">
            <label for="password-reset-email">{{i18n "main:form.email"}}</label>
            <input type="text" name="password-reset-email" value="" required>
            <button id="password-reset-submit-btn">{{i18n "main:form.submit"}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
