<div class="row">
  <div class="col-sm-4">
    {{> form/choose-title containerClass="title" selectId="address-book-title-select" selectName="title" options=settings.title}}
  </div>
</div>
<div class="row">
  {{> form/input-text columnWidth=6 name="firstName" labelKey="form.firstName" required=true value=form.firstName settings=settings.firstName}}
  {{> form/input-text columnWidth=6 name="lastName" labelKey="form.lastName" required=true value=form.lastName settings=settings.lastName}}
  {{> form/input-text columnWidth=12 name="streetName" labelKey="form.addressOne" required=true value=form.streetName settings=settings.streetName}}
  {{> form/input-text columnWidth=12 name="additionalStreetInfo" labelKey="form.addressTwo" required=false value=form.additionalStreetInfo settings=settings.additionalStreetInfo}}
  {{> form/input-text columnWidth=8 name="city" labelKey="form.city" required=true value=form.city settings=settings.city}}
  {{> form/input-text columnWidth=4 name="postalCode" labelKey="form.postCode" required=true value=form.postalCode settings=settings.postalCode}}
  <div class="col-sm-6">
    {{> form/choose-country containerClass="country" selectId="address-book-country-select" selectName="country" options=settings.countries}}
  </div>
  {{> form/input-text columnWidth=6 name="region" labelKey="form.region" required=false value=form.region settings=settings.region}}
</div>
<hr>
<div class="row">
  <div class="col-sm-6">
    <div class="input-block">
      <label for="billing-checkbox">
        <span>
          <input id="default-billing-checkbox" type="checkbox" name="defaultBillingAddress" value="true" {{#if form.defaultBillingAddress}}checked{{/if}}>
        </span>
        <span>{{i18n "my-account:addressBook.billingAddress.label"}}</span>
      </label>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="input-block">
      <label for="delivery-checkbox">
        <span>
          <input id="default-shipping-checkbox" type="checkbox" name="defaultShippingAddress" value="true" {{#if form.defaultShippingAddress}}checked{{/if}}>
        </span>
        <span>{{i18n "my-account:addressBook.shippingAddress.label"}}</span>
      </label>
    </div>
  </div>
</div>
