<ol class="breadcrumb">
	<li>
		<a href="/" {{#unless breadcrumb.links}}class="active"{{/unless}}>{{i18n "main:home"}}</a>
	</li>
	{{#each breadcrumb.links}}
		<li>
			<a href="{{url}}" {{#if @last}}class="active"{{/if}}>{{text}}</a>
		</li>
	{{/each}}
</ol>
