<a href="{{@root.content.reserveInStoreUrl}}" class="btn pdp-product-reserve">
  <img class="store-thumb" src="{{@root.meta.assetsPath}}img/store-icon-29-29px.png" alt="{{i18n "catalog:reserve.title"}}">
  {{i18n "catalog:reserve.btn"}}
</a>
