.product-filter-wrapper {
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.05);
	margin-bottom: 30px;
	font-size: 12px;
    padding: 40px 55px 34px;
    width: 100%;
    @media #{$md-layout} {
        padding: 40px 25px 34px;
    }
    @media #{$xs-layout} {
        padding: 40px 25px 34px;
    }
    .product-filter {
        h5 {
            font-size: 14px;
            margin: 0 0 29px;
            text-transform: uppercase;
            font-weight: 700;
            @media #{$xs-layout} {
                margin: 0 0 10px;
            }
        }
        .filter-multiple {
            ul {
                li {
                    margin-bottom: 7px;
                    display: block;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    input {
                      width: 12px;
                      height: 12px;
                      cursor: pointer;
                    }
                }
            }
        }
        .category-filter {
            ul {
                li {
                    margin-bottom: 5px;
                    a {
                        color: #4a4141;
                    }
                }
            }
        }
        .color-filter {
            ul {
                li {
                    margin-bottom: 8px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    a {
                        .swatch-anchor {
                            width: 16px;
                            height: 16px;
                            border-radius: 100%;
                            font-size: 0;
                            display: inline-block;
                            position: relative;
                            &::before {
                                content: attr(title);
                                position: absolute;
                                bottom: 80%;
                                text-indent: 0;
                                background: #000;
                                padding: 3px 10px 5px;
                                line-height: 1;
                                border-radius: 4px;
                                margin-bottom: 10px;
                                min-width: 50px;
                                color: #fff;
                                left: 50%;
                                white-space: pre;
                                text-align: center;
                                text-transform: none;
                                transform: translate(-50%, 0);
                                visibility: hidden;
                                opacity: 0;
                                transition: all 250ms ease-out;
                                font-size: 12px;
                            }
                            &::after {
                                content: "";
                                position: absolute;
                                left: 50%;
                                bottom: 80%;
                                border-width: 4px 4px 0 4px;
                                border-style: solid;
                                border-color: #000 transparent transparent transparent;
                                margin-bottom: 6px;
                                margin-left: -4px;
                                visibility: hidden;
                                opacity: 0;
                                transition: all 250ms ease-out;
                            }
                            &:hover::before {
                                bottom: 100%;
                                opacity: 1;
                                visibility: visible;
                            }
                            &:hover::after {
                                bottom: 100%;
                                opacity: 1;
                                visibility: visible;
                            }
                            &.black {
                                background-color: #484848;
                            }
                            &.blue {
                                background-color: #475bd7;
                            }
                            &.green {
                                background-color: #93cda4;
                            }
                            &.orange {
                                background-color: #ffa875;
                            }
                            &.pink {
                                background-color: #f7a2c8;
                            }
                            &.red {
                                background-color: #f18787;
                            }
                            &.white {
                                background-color: #f3f3f3;
                            }
                            &.yellow {
                                background-color: #dbdd30;
                            }
                        }
                        .color-text {
                            color: #989898;
                            font-size: 12px;
                            margin-left: 10px;
                        }
                        &:hover .color-text {
                            color: $theme-color;
                        } 
                    }
                }
            }
        }
        .fliter-size {
            ul {
                li {
                    display: flex;
                    align-items: center;
                    margin: 0 0 17px;
                    &:last-child {
                        margin: 0 0 0px;
                    }
                    input {
                        width: 12px;
                        height: 12px;
                        cursor: pointer;
                    }
                    a {
                        color: #989898;
                        font-size: 12px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}
