  .form-field.base-select {
    display: inline-block;
    width: 100%;
    position: relative;
    .selectboxit {
      display: block;
    }
    &.error .selectboxit {
      border-color: rgba(206, 65, 65, 0.6) !important;
    }
  }
