figure.figure-banner {
  position: relative;
  margin-top: 20px;

  figcaption.figcaption-banner-text {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
    color: $white;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    left: 50%;
    width: 90%;

    @media screen and (min-width: 768px) {
      bottom: 20px;
      max-width: 500px;
    }

    h2::after {
      background: $white;
    }
  }
}

.container .jumbotron,
.container-fluid .jumbotron {
  background: none;
  border-radius: 0;
  border: solid 1px $timberwolf;
  margin-bottom: 0;
  color: $gray;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

  @media screen and (min-width: 768px) {
    padding-left: 150px;
    padding-right: 150px;
  }

  h2 {
    color: $mine-shaft;

    &::after {
      background: $gray;
    }
  }
}

figure.figure-banner figcaption.figcaption-banner-text,
.container .jumbotron,
.container-fluid .jumbotron {
  h2 {
    font-size: 36px;
    font-weight: 300;
    margin-top: 0;

    &::after {
      content: '';
      width: 55px;
      height: 1px;
      display: block;
      margin: 10px auto;
    }

    @media screen and (min-width: 768px) {
      font-size: 48px;
    }
  }

  h3 {
    font-size: 14px;
    text-transform: none;
    font-weight: 400;
    line-height: 150%;
    margin-top: 10px;
  }

  p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
  }
}
