/*****************************************************************************/
/*
/* COLORS
/*
/*****************************************************************************/

$white: #ffffff;

// GRAY
$alto: #d6d6d6;
$bombay: #aaaeb2;
$gray: #858585;
$silver-chalice: #adadad;
$spring-wood: #f5f2ea;
$timberwolf: #d9d7ce;
$wild-sand: #f5f5f5;
$snow-grey: #f2f2f2;

// BLUE
$ebony-clay: #2a343f;
$ship-cove: #6989c2;
$limed-spruce: #353e49;
$river-bed: #3b4551;

// BLACK
$mine-shaft: #333333;

// YELLOW
$my-sin: #ffba27;

// RED
$red: #ff0000;
$valencia: #d54d4d;

//ORANGE
$orange: #ff761a;

// GREEN
$highland: #699e63;
$citron: #95c11f;

//from new design
// Font Family
$montserrat: 'Montserrat', sans-serif;
$playfairdisplay: 'Playfair Display', serif;
$notoserif: 'Noto Serif', serif;
$vidaloka: 'Vidaloka', serif;

// text Colors ---------------
$white: #ffffff;
$black: #000000;
$grey: #f8f8f8;

// Theme Color
$theme-color: #fdbb41;

// Responsive Variables
$xx-layout: 'only screen and (min-width: 1366px) and (max-width: 1600px)';
$xl-layout: 'only screen and (min-width: 1200px) and (max-width: 1365px)';
$lg-layout: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md-layout: 'only screen and (min-width: 768px) and (max-width: 991px)';
$xs-layout: 'only screen and (max-width: 767px)';
$sm-layout: 'only screen and (min-width: 576px) and (max-width: 767px)';
