<div class="row">
  <div class="col-sm-12">
    <p class="text-uppercase text-center reviews-title">{{i18n "catalog:reviews.title"}}</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 reviews-col">
    <div class="row">
      <div class="col-sm-12">
        <div>1 - 5 of 51 Reviews</div>
      </div>
    </div>
    <div class="single-comment hidden-xs">
      <div class="row">
        <div class="col-sm-12">
          <div class="review-rating">
            <fieldset class="rating rated-stars">
              <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
              <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
              <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
              <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
              <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
            </fieldset>
            <p class="text-uppercase comment-user">John Smith<span class="grey-p comment-date"> 2 days ago</span></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class="h4 review-top-comment">Lorem borem forem dorem morem</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class="review-comment">Boom boom boom Boom boom boom Boom boom boom Boom boom boom Boom boom boom Boom boom boom, Boom boom boom Boom boom boom Boom boom boom Boom boom boom Boom boom boom Boom boom boom.</p>
        </div>
      </div>
    </div>
    <div class="single-comment hidden-xs">
      <div class="row">
        <div class="col-sm-12">
          <div class="review-rating">
            <fieldset class="rating rated-stars">
              <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
              <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
              <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
              <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
              <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
            </fieldset>
            <p class="text-uppercase comment-user">John Smith<span class="grey-p comment-date"> 2 days ago</span></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class="h4 review-top-comment">Lorem borem forem dorem morem</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class="review-comment">Boom boom boom Boom boom boom Boom boom boom Boom boom boom Boom boom boom Boom boom boom, Boom boom boom Boom boom boom Boom boom boom Boom boom boom Boom boom boom Boom boom boom.</p>
        </div>
      </div>
    </div>
    <div class="single-comment hidden-xs">
      <div class="row">
        <div class="col-sm-12">
          <div class="review-rating">
            <fieldset class="rating rated-stars">
              <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
              <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
              <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
              <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
              <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
            </fieldset>
            <p class="text-uppercase comment-user">John Smith<span class="grey-p comment-date"> 2 days ago</span></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class="h4 review-top-comment">Lorem borem forem dorem morem</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class="review-comment">Boom boom boom Boom boom boom Boom boom boom Boom boom boom Boom boom boom Boom boom boom, Boom boom boom Boom boom boom Boom boom boom Boom boom boom Boom boom boom Boom boom boom.</p>
        </div>
      </div>
    </div>
    <div class="reviews-mobile visible-xs">
      <div class="single-comment">
        <div class="row">
          <div class="col-sm-12">
            <div class="review-rating">
              <fieldset class="rating rated-stars">
                <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
                <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
              </fieldset>
              <p class="text-uppercase comment-user">John Smith<span class="grey-p comment-date"> 2 days ago</span></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="h4 review-top-comment">Lorem borem forem dorem morem</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="review-comment">Boom boom boom Boom boom boom Boom boom boom Boom boom boom Boom boom boom Boom boom boom, Boom boom boom Boom boom boom Boom boom boom Boom boom boom Boom boom boom Boom boom boom.</p>
          </div>
        </div>
      </div>
      <div class="single-comment">
        <div class="row">
          <div class="col-sm-12">
            <div class="review-rating">
              <fieldset class="rating rated-stars">
                <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
                <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
              </fieldset>
              <p class="text-uppercase comment-user">John Smith<span class="grey-p comment-date"> 2 days ago</span></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="h4 review-top-comment">Lorem borem forem dorem morem</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="review-comment">Boom boom boom Boom boom boom Boom boom boom Boom boom boom Boom boom boom Boom boom boom, Boom boom boom Boom boom boom Boom boom boom Boom boom boom Boom boom boom Boom boom boom.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <button type="button" class="btn write-review-btn">Write Review</button>
  <button type="button" class="btn hidden-xs showmore-reviews-btn">Show More Reviews</button>
</div>