<ul class="social-icons">
  <a href=""><li><img class="social-icon" src="{{@root.meta.assetsPath}}img/Facebook.png" alt="Facebook"></li></a>
  <a href=""><li><img class="social-icon" src="{{@root.meta.assetsPath}}img/Pinterest.png" alt="Pinterest"></li></a>
  <a href=""><li><img class="social-icon" src="{{@root.meta.assetsPath}}img/Google.png" alt="Google+"></li></a>
</ul>
