<div class="row">
    <div class="col-sm-6">
        <div>
            <button id="shipping-continue-checkout-btn-xs" class="btn text-uppercase checkout-checkout-btn">{{i18n "checkout:continueCheckout"}}</button>
        </div>
    </div>
</div>
