{{#if enabled}}
    <a id="{{id}}" href="{{url}}">
      <span class="pull-right">
          <img src="{{@root.meta.assetsPath}}img/edit-1.png" class="checkout-summary-edit-icon" alt="">{{i18n "main:form.edit"}}
      </span>
    </a>
{{/if}}
