<div class="order-summary">
    <span class="text-uppercase order-summary-title">{{i18n "checkout:orderSummary"}}:</span>
    <span class="checkout-total-items">{{i18n "checkout:itemsTotal" count=content.cart.totalItems}}</span>
</div>
{{> checkout/checkout-item}}
