<div class="secure-payment">
    <span><img class="secure-payment-icon" src="{{@root.meta.assetsPath}}img/credit-card-lock.png" alt="secure payment"></span>
    <span class="text-uppercase secure-payment-title">{{i18n titleKey}}</span>
</div>
