<div class="checkout-now {{#if bottom}}checkout-now-bottom{{/if}}">
  <a href="{{@root.meta._links.checkout.href}}" class="pull-right text-uppercase checkout-now-btn" {{#if id}}id="{{id}}"{{/if}}>{{i18n "main:common.checkout"}}</a>
</div>