  <div>
    <div id="pdp-page">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 breadcrumb-col">
            <Breadcrumb :categoryId="categoryId" />
          </div>
        </div>
        <div class="row product-info-row-pdp">
          <!-- {{> catalog/pdp/product-info product=content.product deliveryRates=content.deliveryRates}} -->
        <ProductInfo :sku="sku" />
        </div>
      </div>
    </div>
    <!--<div class="pdp-page-review">-->
      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-sm-12">-->
            <!--<p class="text-center text-uppercase may-like">-->
              <!--{{ $t('suggestions.title') }}-->
            <!--</p>-->
          <!--</div>-->
        <!--</div>-->
        <!-- <div class="row">
          {{#each content.suggestions.list}}
          <div class="col-xs-12 col-sm-6 col-md-3">
            {{> catalog/product-thumbnail thumbnail=this index=@index}}
          </div>
          {{/each}}
      </div> -->
        <!--<hr class="hr">-->
        <!-- {{> catalog/pdp/reviews}} -->
      <!--</div>-->
    <!--</div>-->
  </div>
