.description-review-wrapper {
  margin: 42px 0 29px;
  .pro-dec-accordion {
    .panel-heading {
      h4 {
        margin: 0;
        font-size: 14px;
        font-weight: 600;
        a {
          display: block;
          position: relative;
          text-transform: capitalize;
          border-bottom: 1px solid #d8d8d8;
          padding: 16px 0 17px;
          color: $theme-color;
          &::after {
            content: '\f068';
            color: #262626;
            font-family: FontAwesome;
            position: absolute;
            right: 0;
            top: 19px;
            font-size: 11px;
            font-weight: normal;
          }
          &.collapsed {
            color: #262626;
            &:hover {
              color: $theme-color;
            }
            &::after {
              content: '\f067';
            }
          }
        }
      }
    }
    .product-description-wrapper {
      .panel-body {
        padding: 23px 0 16px;
        p {
          color: #989898;
          margin: 0;
        }
      }
    }
    .pro-additional-info {
      .panel-body {
        padding: 23px 0 16px;
        ul {
          li {
            color: #989898;
            span {
            }
            a {
              color: #989898;
            }
            i {
              color: #f5b223;
              margin: 0 5px 0 0;
            }
          }
        }
      }
    }
    .description-review {
      .panel-body {
        padding: 23px 0 16px;
        .ratting-form-wrapper {
          > h6 {
            font-weight: 600;
            margin: 0 0 29px;
            color: #262626;
            font-size: 14px;
          }
          .review-comments {
            p {
              color: #989898;
              margin: 0;
            }
            h6 {
              color: #262626;
              font-weight: 600;
              font-size: 14px;
              margin: 5px 0 18px;
            }
          }
          > span {
            font-size: 12px;
            color: #989898;
            display: block;
            line-height: 1;
            margin: 0 0 9px;
          }
          > p {
            color: #989898;
            font-size: 12px;
            margin: 0;
            font-family: $montserrat;
            font-style: italic;
            span {
              color: red;
            }
          }
          .star-box-wrap {
            display: flex;
            margin: 27px 0 18px;
            @media #{$xs-layout} {
              display: block;
            }
            .single-ratting-star {
              margin-right: 20px;
              i {
                color: #989898;
                font-size: 14px;
                transition: all 0.3s ease 0s;
                cursor: pointer;
              }
              &:hover i {
                color: #f5b223;
              }
            }
          }
          .ratting-form {
            @media #{$md-layout} {
              margin-right: 0px;
            }
            @media #{$xs-layout} {
              margin-right: 0px;
            }
            form {
              .rating-form-style {
                label {
                  color: #989898;
                  text-transform: capitalize;
                  margin: 0 0 8px;
                  span {
                    color: red;
                  }
                }
                input {
                  border: 1px solid #e8e8e8;
                  background: transparent;
                  height: 45px;
                  &:focus {
                    border: 1px solid #343538;
                  }
                }
                textarea {
                  border: 1px solid #e7e7e7;
                  background: transparent;
                  height: 200px;
                  &:focus {
                    border: 1px solid #343538;
                  }
                }
              }
              .form-submit {
                input {
                  padding: 10px 40px;
                  text-transform: uppercase;
                  width: auto;
                  color: #fff;
                  background-color: #dcb86c;
                  border: none;
                  &:hover {
                    background-color: #343538;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.attribute-name {
  color: #989898;
  font-size: 13px;
}
