.color {
  width: 10px;
  height: 10px;
  border:1px solid black;
  border-radius: 100%;
  font-size: 0;
  display: inline-block;
  line-height: 20px;
}
.black,.schwarz {
  background-color: #000000;
}

.beige {
  background-color: #F5F5DC;
}
.blue,.blau {
  background-color: #87CEEB;
}
.brown,.braun {
  background-color: #DEB887;
}
.gold {
  background-color: gold;
}
.green,.grün {
  background-color: #008000;
}
.grey,.grau {
  background-color: #D3D3D3;
}
.oliv {
  background-color: #808000;
}
.orange {
  background-color: #FFA500;
}
.petrol {
  background-color: #005a73;
}
.pink,.rosa {
  background-color: #FFB6C1;
}
.purple,.lila {
  background-color: #DA70D6;
}
.red,.rot {
  background-color: #DC143C;
}
.silver,.silber {
  background-color: #C0C0C0;
}
.turquoise,.türkis {
  background-color: #40E0D0;
}
.white,.weiss {
  background-color: #FFFFFF;
}
.yellow,.gelb {
  background-color: #ffff00;
}