.shop-top-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @media #{$xs-layout} {
      display: block;
  }
  .shop-top-bar-left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media #{$xs-layout} {
          display: block;
      }
      @media #{$sm-layout} {
          display: flex;
      }
      .shop-top-show {
          line-height: 1;
          span {
              line-height: 24px;
              display: block;
              line-height: 1;
              color: #989898;
              font-size: 12px;
          }
      }
      .shop-page-list {
          margin-left: 45px;
          line-height: 1;
          @media #{$xs-layout} {
              margin-left: 0px;
              margin-top: 20px;
          }
          @media #{$sm-layout} {
              margin-left: 45px;
              margin-top: 0px;
          }
          ul {
              li {
                  display: inline-block;
                  color: #989898;
                  margin-right: 11px;
                  &:last-child {
                      margin-right: 0px;
                  }
                  &.active {
                      border-bottom: 1px solid $theme-color;
                      a {
                          color: $theme-color;
                      }
                  }
                  a {
                      color: #989898;
                  }
              }
          }
      }
  }
  .shop-top-bar-right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .shop-filter {
          line-height: 1;
          position: relative;
          a {
              color: #262626;
              font-weight: 600;
              font-size: 18px;
              i {
                  color: #262626;
                  font-weight: 600;
                  margin-left: 3px;
                  transition: all .4s ease 0s;
              }
              &.active {
                  i {
                      &.angle-down {
                          opacity: 0;
                          visibility: hidden
                      }
                      &.angle-up {
                          opacity: 1;
                          visibility: visible
                      }
                  }
              }
          }
      }
      .shop-short-by {
          position: relative;
          padding: 30px 0;
          line-height: 1;
          > span {
              color: #262626;
              font-weight: 600;
              font-size: 18px;
              position: relative;
              cursor: pointer;
              i {
                  color: #262626;
                  font-weight: 600;
                  margin-left: 3px;
                  transition: all .4s ease 0s;
                  &.angle-down {
                      
                  }
                  &.angle-up {
                      position: absolute;
                      right: 3px;
                      top: 1px;
                      opacity: 0;
                      visibility: hidden
                  }
              }
          }
          ul {
              right: 0;
              top: 100%;
              position: absolute;
              background-color: #fff;
              padding: 7px;
              z-index: 11;
              visibility: hidden;
              opacity: 0;
              box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.2);
              transition: all 250ms ease-out;
              margin-top: 30px;
              li {
                  display: block;
                  a {
                      padding: 5px 10px;
                      white-space: pre;
                      display: block;
                      border-radius: 4px;
                      font-size: 0.92em;
                      color: #989898;
                      line-height: 24px;
                      &:hover {
                          color: #fff;
                          background-color: $theme-color;
                      }
                  }
                  &.active {
                      a {
                          color: #fff;
                          background-color: $theme-color;
                      }
                  }
              }
          }
          &:hover {
              span i {
                  &.angle-down {
                      opacity: 0;
                      visibility: hidden
                  }
                  &.angle-up {
                      opacity: 1;
                      visibility: visible
                  }
              }
          }
          &:hover ul {
              opacity: 1;
              visibility: visible;
              margin-top: -5px;
          }
      }
  }
}
