.shop-top-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @media #{$xs-layout} {
    display: block;
  }
  .shop-top-bar-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media #{$xs-layout} {
      display: block;
    }
    @media #{$sm-layout} {
      display: flex;
    }
    .shop-top-show {
      line-height: 1;
      span {
        line-height: 24px;
        display: block;
        line-height: 1;
        color: #989898;
        font-size: 12px;
      }
    }
    .shop-page-list {
      margin-left: 45px;
      line-height: 1;
      @media #{$xs-layout} {
        margin-left: 0px;
        margin-top: 20px;
      }
      @media #{$sm-layout} {
        margin-left: 45px;
        margin-top: 0px;
      }
      ul {
        li {
          display: inline-block;
          color: #989898;
          margin-right: 11px;
          &:last-child {
            margin-right: 0px;
          }
          &.active {
            border-bottom: 1px solid $theme-color;
            a {
              color: $theme-color;
            }
          }
          a {
            color: #989898;
          }
        }
      }
    }
  }
  .shop-top-bar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .shop-filter {
      line-height: 1;
      position: relative;
      a {
        color: #262626;
        font-weight: 600;
        font-size: 18px;
        i {
          color: #262626;
          font-weight: 600;
          margin-left: 3px;
          transition: all 0.4s ease 0s;
        }
        &.active {
          i {
            &.angle-down {
              opacity: 0;
              visibility: hidden;
            }
            &.angle-up {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }
}
