/*-------- 22. My account style ---------*/

#myaccountContent {
  @media #{$xs-layout} {
    margin-top: 30px;
  }
}
.myaccount-content {
  border: 1px solid #eeeeee;
  padding: 30px;
  margin-left: -80px;
  @media #{$lg-layout} {
    margin-left: 0px;
  }
  @media #{$md-layout} {
    margin-left: 0px;
  }
  @media #{$xs-layout} {
    padding: 20px 15px;
    margin-left: 0px;
  }
  form {
    margin-top: -20px;
  }
  h3 {
    font-size: 20px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
    margin-bottom: 25px;
    font-weight: 600;
  }
  .welcome {
    a {
      &:hover {
        color: $theme-color;
      }
    }
    strong {
      font-weight: 600;
      color: $theme-color;
    }
  }
  fieldset {
    margin-top: 20px;
    & legend {
      font-size: 16px;
      margin-bottom: 20px;
      font-weight: 500;
      padding-bottom: 10px;
      border-bottom: 1px solid #ccc;
    }
  }
  .account-details-form {
    margin-top: 50px;
    .single-input-item {
      margin-bottom: 20px;
      label {
        font-size: 14px;
        text-transform: capitalize;
        display: block;
        margin: 0 0 5px;
      }
      input {
        border: 1px solid #e8e8e8;
        height: 50px;
        background-color: transparent;
        padding: 2px 20px;
        color: #1f2226;
        font-size: 13px;
        &:focus {
          border: 1px solid #343538;
        }
      }
      button {
        border: none;
        background-color: $theme-color;
        text-transform: uppercase;
        font-weight: 600;
        padding: 15px 25px;
        color: #fff;
        font-size: 13px;
        &:hover {
          background-color: #1f2226;
        }
      }
    }
  }
}
.myaccount-table {
  white-space: nowrap;
  font-size: 14px;
  table,
  .table {
    th {
      padding: 10px;
      font-weight: 600;
      background-color: #f8f8f8;
      border-color: #ccc;
      border-bottom: 0;
      color: #1f2226;
    }
    td {
      padding: 10px;
      vertical-align: middle;
      border-color: #ccc;
    }
  }
}
.saved-message {
  background-color: #fff;
  border-top: 3px solid $theme-color;
  font-size: 14px;
  padding: 20px 0;
}

/*-------- End My Account Page --------*/
