  <div class="home-page">
    <div class="home-banner-option-one">
      <div class="container-fluid">
        <div class="row">
          <BannerTopLeft/>
          <BannerTopRight/>
        </div>
      </div>
    </div>
    <div class="home-banner-option-two">
      <div class="container-fluid">
        <div class="row">
          <BannerMiddle/>
        </div>
      </div>
    </div>
    <div class="home-banner-option-three">
      <div class="container-fluid">
        <div class="row">
          <BannerBottomLeft/>
          <BannerBottomRight/>
        </div>
      </div>
    </div>
    <!-- <div class="container">
      {{> catalog/home/home-suggestions}}
      <div class="home-viewall">
        {{> catalog/home/view-products-link}}
      </div>
    </div> -->
  </div>
