<div class="breadcrumb-area breadcrumb-bg-1 bg-gray mt-110">
  <div class="container-fluid"></div>
    <div class="breadcrumb-content text-center">
      <div class="breadcrumb-title">
        <h2>{{category.name}}</h2>
      </div>
      <ul>
        <li>
          <router-link to="/" data-test="breadcrumb-home-link">
            {{ $t('home') }}
          </router-link>
        </li>
        <li class="active" v-for="ancestor in category.ancestors">
          <router-link
            :to="{ name: 'products', params: { categorySlug: ancestor.slug } }"
            class="active"
          >
            {{ancestor.name}}
          </router-link>
        </li>
      </ul>
    </div>
  </div>
</div>
