<div class="home-banner-option-one">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 nopadding banner-left">
        {{> catalog/home/banner-top-left}}
      </div>
      <div class="col-sm-6 nopadding banner-right">
        {{> catalog/home/banner-top-right}}        
      </div>
    </div>
  </div>
</div>

<div class="home-banner-option-two">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 nopadding">
        {{> catalog/home/banner-middle}}
      </div>
    </div>
  </div>
</div>

<div class="home-banner-option-three">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 nopadding banner-left">
        {{> catalog/home/banner-bottom-left}}
      </div>
      <div class="col-sm-6 noppading banner-right">
        <div class="row">
          <div class="col-sm-6 nopadding">
            <div class="banner-xs-one">
              {{> catalog/home/banner-bottom-right-1}}
            </div>
          </div>
          <div class="col-sm-6 nopadding">
            <div class="banner-xs-two">
              {{> catalog/home/banner-bottom-right-2}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 nopadding">
            <div class="banner-sm">
              {{> catalog/home/banner-bottom-right-3}}              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>