<h4 class="home-suggestions-title">{{{cms "suggestions.title"}}}</h4>
<hr class="home-suggestions-hr"/>
<p class="home-suggestions-description">{{{cms "suggestions.subtitle"}}}</p>
<div class="row">
  {{> catalog/suggestions}}
</div>
