  <div class="signup-box-wrapper">
    <div class="clearfix">
      <div class="pull-left">
        <div class="signup-box-title">{{ $t('title') }}</div>
      </div>
    </div>
    <hr class="signup-box-hr">
    <div class="signup-box-description">{{ $t('description') }}</div>
    <BaseForm :vuelidate="$v"
              :onSubmit="customerSignMeUp"
              #default="{ error, state }">
      <ServerError :error="error"
                   v-slot="{ graphQLError }">
        {{ getErrorMessage(graphQLError) }}
      </ServerError>
      <div class="row">
        <div class="col-sm-6">
          <BaseInput v-model="form.firstName"
                     :vuelidate="$v.form.firstName"
                     :label="$t('firstName')"
                     type="text"
                     autocomplete="fname"
                     data-test="signup-form-firstname" />
        </div>
        <div class="col-sm-6">
          <BaseInput v-model="form.lastName"
                     :vuelidate="$v.form.lastName"
                     :label="$t('secondName')"
                     type="text"
                     autocomplete="lname"
                     data-test="signup-form-lastname" />
        </div>
      </div>
      <hr class="signup-box-hr">
      <div class="row">
        <div class="col-sm-12">
          <BaseInput v-model="form.email"
                     :vuelidate="$v.form.email"
                     :label="$t('email')"
                     type="email"
                     autocomplete="username"
                     data-test="signup-form-email" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <BaseInput v-model="form.password"
                     :vuelidate="$v.form.password"
                     :label="$t('password')"
                     type="password"
                     autocomplete="off"
                     data-test="signup-form-password" />
        </div>
        <div class="col-sm-6">
          <BaseInput v-model="form.repeatPassword"
                     :vuelidate="$v.form.repeatPassword"
                     :label="$t('repeatPassword')"
                     :customErrors="{ sameAsPassword: $t('repeatPasswordError') }"
                     type="password"
                     autocomplete="off"
                     data-test="signup-form-repeatpassword" />
        </div>
      </div>
      <hr class="signup-box-hr">
      <!--<div class="signup-box-newsletter">-->
      <!--<input type="checkbox" name="joinNewsletter" value="true" -->
      <!--{{#if form.subscribeToNewsletter}}checked{{/if}}>-->
      <!--<span>{{ $t('pleaseAddMe') }} <a href="">{{ $t('newsletter') }}</a></span>-->
      <!--</div>-->
      <div class="row">
        <div class="col-sm-12">
          <BaseInput v-model="form.agreeToTerms"
                     :vuelidate="$v.form.agreeToTerms"
                     :label="$t('agreeTo')"
                     :customErrors="{ mustBeAgreed: $t('agreeToTermsError') }"
                     type="checkbox"
                     autocomplete="off"
                     data-test="signup-form-agreetoterms" />
        </div>
      </div>
      <LoadingButton :state="state"
                     class="signup-register-btn"
                     data-test="signup-form-submit">
        {{ $t('registerNow') }}
      </LoadingButton>
    </BaseForm>
  </div>
