button {
  font-weight: 900;
  background-color: $my-sin;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  position: relative;
  &:hover {
    background-color: lighten($my-sin, 5%);
  }
  .state-layer {
    background-color: $my-sin;
  }
  .state-layer {
    background-color: inherit;
  }
  .state-layer, .loading-animation, svg.check {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: .5em;
  }
  &.success {
    .state-layer {
      background-color: #3AB795;
    }
    .fade-enter, .fade-leave-to {
      opacity: 1;
      background-color: inherit;
    }
    .fade-enter-to, .fade-leave {
      background-color: #3AB795;
    }
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 10px;
  }
}
svg.check {
  circle, path {
    fill: none;
    stroke: $mine-shaft;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 8px;
    stroke-dasharray: 400;
  }
  path {
    animation: check-stroke 1s forwards;
    animation-timing-function: ease-in;
    stroke-linejoin: round;
    opacity: 0;
  }
  @keyframes check-stroke {
    0% {
      stroke-dashoffset: 400px;
      opacity: 1;
    }
    100% {
      stroke-dashoffset: 0;
      opacity: 1;
    }
  }
}
