.address-detail {
  background-color: #f7f7f7;
  padding: 20px;
}

.subtotal-price {
  border-bottom: 1px solid #e7e7e7;
  padding: 20px 15px 0 0;
}

.total-price {
  padding: 10px 15px 0 0;
  span {
    font-weight: 600;
    font-size: 18px;
  }
}
.title {
  font-weight: 500;
  font-size: 16px;
}
