  <ul data-test="pagination"
      class="pagination"
      v-if="show">
    <li class="pagination-item"
        data-test="paginate-prev">
      <button type="button"
              class="icon-prev"
              data-test="previous-page-link"
              @click="previousPage"
              :disabled="isInFirstPage"
              aria-label="Go to previous page">
      </button>
    </li>
    <span class="total-pages"
          data-test="total-pages">
      {{ $t('page') }} {{page}} {{ $t('of') }} {{totalPages}}
    </span>
    <li class="pagination-item"
        data-test="paginate-next">
      <button type="button"
              class="icon-next"
              data-test="next-page-link"
              @click="nextPage"
              :disabled="isInLastPage"
              aria-label="Go to next page">
      </button>
    </li>
  </ul>
