label {
  width: 100%;
  margin: 0;
  padding: 0;
}
input[type=radio] {
  float: left;
  width: auto;
  border: 1px solid $alto;
  border-radius: 1px;
  padding: 0.5em;
  margin-top: 0.3em;
  margin-right: 10px;
}
