  <div>
    <div v-if="order">
      <div class="row thank-you">
        <div class="col-sm-12"
             data-test="checkout-form-success">
          {{ $t('thankYou') }}
        </div>
      </div>
      <div class="checkout-step-title">
        <span>{{ $t('yourOrder') }}</span>
      </div>
      <CartLikeSummary :cartLike="order"/>
    </div>
    <BaseForm v-else-if="cartExists"
              :vuelidate="$v"
              :onSubmit="createOrder"
              #default="{ error, state }">
      <div class="checkout-step-title">
        <span>{{ $t('confirmOrder') }}</span>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <ServerError :error="error"/>
        </div>
      </div>
      <CartLikeSummary :cart-like="me.activeCart"
                       :editable="true" />
      <div class="complete-order">
        <LoadingButton :state="state"
                       class="complete-order-btn"
                       data-test="checkout-form-submit">
          {{ $t('completeMyOrder') }}
        </LoadingButton>
      </div>
    </BaseForm>
  </div>
