{{#if error.overlay}}
<div class="alert-overlay">
  <div class="alert-wrapper">
    <div class="alert-box">
      <div class="alert-text">
        {{error.overlay.message}}
      </div>
      {{#if error.overlay.link}}
      <div class="alert-link">
        <a href="{{error.overlay.link.url}}">{{error.overlay.link.text}}</a>
      </div>
      {{/if}}
    </div>
  </div>
</div>
{{/if}}