<ul class="nav navbar-nav categories-group-button">
  <li class="dropdown menu-large">
    <a href="" class="dropdown-toggle " data-toggle="dropdown">{{i18n "main:header.allCategories"}}</a>
    <ul class="dropdown-menu megamenu row dropdown-submenu">
      <li class="col-sm-12">
        <div class="nav-accordion">
          {{#each navMenu.categories}}
          <h3><a href="{{url}}">{{text}}</a></h3>
          {{/each}}
        </div>
      </li>
    </ul>
  </li>
</ul>