<form id="form-search" action="{{@root.meta._links.search.href}}" class="search-box text-right">
  <input name="q" type="search" placeholder="{{i18n "main:header.search"}}" id="search-input" class="search-field" required/>
  <button type="submit" id="search-button" class="search-button">
    <span class="icon-font icon-magnifying-glass"></span>
    <span class="sr-only">{{i18n "main:header.search"}}</span>
  </button>
</form>