<!DOCTYPE html>
<html lang="en">

<head>
  {{> common/htmlhead}}
</head>

<body>
{{> common/checkout-header}}
<div class="checkout-shipping">
    <div class="container">
      {{> common/messages}}
        <div class="row">
            <div class="col-md-7">
              {{> checkout/secure-checkout-title titleKey="checkout:confirmationPage.title"}}
            </div>
            <div class="col-md-5">
              {{> checkout/step-widget}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="checkout">
                    <form method="post" action="{{@root.meta._links.checkoutConfirmationSubmit.href}}">
                        <input type="hidden" name="csrfToken" value="{{@root.meta.csrfToken}}"/>
                        {{> form/global-errors errors=content.checkoutForm.errors}}
                        <div class="row">
                            <div class="col-sm-4 checkout-first-col">
                              {{> checkout/address-confirmation address=content.cart.shippingAddress titleKey="checkout:shippingAddress" editable=true editUrl=meta._links.editShippingAddress.href}}
                            </div>
                            <div class="col-sm-4 checkout-second-col">
                              {{> checkout/address-confirmation address=content.cart.billingAddress titleKey="checkout:billingAddress" editable=true editUrl=meta._links.editBillingAddress.href}}
                            </div>
                            <div class="col-sm-4 checkout-third-col">
                              {{> checkout/shipping-method-confirmation shippingMethod=content.cart.shippingMethod editable=true}}
                              {{> checkout/payment-confirmation paymentDetails=content.cart.paymentDetails editable=true}}
                            </div>
                        </div>
                      {{> checkout/order-summary cart=content.cart mainClass="confirmation-products-title" editable=false checkoutConfirmation=true}}
                    </form>
                </div>
            </div>
        </div>
    </div>
  {{> common/checkout-footer}} {{> common/htmlscripts}}
</body>

</html>
