<!DOCTYPE html>
<html lang="en">

<head>
  {{> common/htmlhead}}
</head>

<body>
  <div class="darkbg hidden"></div>
  {{> common/header}}

  <div class="container">
    {{> common/messages}}
    <div class="imprint-title">{{i18n "main:imprint.title"}}</div>
    <div class="imprint-wrapper">
      <div>SUNRISE Company</div>
      <div>Sunny Road 1</div>
      <div>23456 Sunshine</div>
      <div>Sunset Country</div><br>
      <div>Tel: +49 (0)123-45 89 11 0</div>
      <div>Tel: +49 (0)123-45 89 11 0</div>
      <div>email: service@sunrise.commercetools.de</div>
      <div>www.sunrise.commercetools.com</div><br>
      <div>Managing Directors: Anna Sunrise</div>
      <div>Registry Court: Local Court of City Sunshine</div>
      <div>CRegistration number: 12345678</div>
      <div>VAT Number 6387466812</div><br>
      <div class="text-uppercase">Exclusion of Liability</div><br>
      <div>Liability for content</div>
      <div>
        Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus. Sed vel lacus. Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus. Nunc tellus ante, mattis eget, gravida vitae, ultricies ac, leo. Integer leo pede, ornare a, lacinia eu, vulputate vel, nisl.
      </div><br>
      <div>Liability of links</div>
      <div>
        Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus. Sed vel lacus. Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus. Nunc tellus ante, mattis eget, gravida vitae, ultricies ac, leo. Integer leo pede, ornare a, lacinia eu, vulputate vel, nisl.
      </div><br>
      <div>Copyright</div>
      <div>
        Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus. Sed vel lacus. Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus. Nunc tellus ante, mattis eget, gravida vitae, ultricies ac, leo. Integer leo pede, ornare a, lacinia eu, vulputate vel, nisl.
      </div>
    </div>
  </div>

  {{> common/footer}}
  {{> common/htmlscripts}}
</body>

</html>
