<!DOCTYPE html>
<html lang="en">

<head>
  {{> common/htmlhead}}
</head>

<body>
  <div class="darkbg hidden"></div>
  {{> common/header}}

  <div class="mix-match">
    <div class="container">
      {{> common/messages}}
      {{> catalog/breadcrumb breadcrumb=content.breadcrumb}}
      <div class="row">
        <div class="col-md-4 col-md-offset-1 col-sm-6">
          {{> catalog/pdp/product-gallery gallery=content.gallery}}
          {{> catalog/pdp/view-more hiddenXs=true}}
        </div>
        <div class="col-sm-6">
          <div class="mix-match-title">{{i18n "mix-match:mixMatch.title"}}</div>
          <div>{{i18n "mix-match:mixMatch.description"}}</div>
          {{> catalog/pdp/mix-match-product-list products=content.mixMatchProducts}}
          <div class="mix-match-bag-wishlist">
            {{> catalog/pdp/add-to-bag-btn}}
            {{> catalog/add-to-wishlist-btn text=true}}
            {{> catalog/reserve-in-store-btn}}
          </div>
          <div class="panel-group panel-group-pdp" id="accordion-product-info" role="tablist" aria-multiselectable="true">
            {{> catalog/pdp/delivery-rates}}
          </div>
          <div class="mix-match-social-icons">
            {{> catalog/pdp/social-icons}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mix-match-suggestions">
    <div class="container">
      <div class="mix-match-suggestions-title">{{i18n "catalog:suggestions.title"}}</div>
      {{> catalog/suggestions}}
      <hr class="hr">
      {{> catalog/pdp/reviews}}
    </div>
  </div>

  {{> common/footer}}
  {{> common/htmlscripts}}
</body>
</html>
