<!DOCTYPE html>
<html lang="en">

<head>
  {{> common/htmlhead}}
</head>

<body>
  <div class="darkbg hidden"></div>
  {{> common/header}}
  <div class="container">
    {{> common/messages}}

    <div class="my-account-login-page-title">
      <span class="icon-user">{{i18n "my-account-login:pageTitle"}}</span>
    </div>

    <div class="login-signup-box-wrapper">
      <div class="row">
        <div class="col-sm-6">
          {{> myaccount/login-box form=content.logInForm settings=content.logInFormSettings}}
        </div>
        <div class="col-sm-6">
          <div class="signup-box-mobile">
            {{> myaccount/signup-box form=content.signUpForm settings=content.signUpFormSettings}}
          </div>
        </div>
      </div>
    </div>

  </div>
  {{> common/footer}}
  {{> common/htmlscripts}}
</body>
</html>
