<!DOCTYPE html>
<html lang="en">

<head>
  {{> common/htmlhead}}
</head>

<body>
  <div class="darkbg hidden"></div>
  {{> common/header}}
  <div class="pdp-page">
    <div class="container">
      {{> common/messages}}
      <div class="row">
        <div class="col-xs-12 breadcrumb-col">
          {{> catalog/breadcrumb breadcrumb=content.breadcrumb}}
        </div>
      </div>
      <div class="row product-info-row-pdp">
        {{> catalog/pdp/product-info product=content.product deliveryRates=content.deliveryRates}}
      </div>
    </div>
  </div>
  <div class="pdp-page-review">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p class="text-center text-uppercase may-like">{{i18n "catalog:suggestions.title"}}</p>
        </div>
      </div>
      <div class="row">
        {{> catalog/suggestions}}
      </div>
      <hr class="hr">
      {{> catalog/pdp/reviews}}
    </div>
  </div>
  {{> common/wishlist wishlist=content.wishlist}}

  {{> common/footer}}
  {{> common/htmlscripts}}
</body>
</html>
