<!DOCTYPE html>
<html lang="en">

<head>
  {{> common/htmlhead}}
</head>

<body>
  <div class="darkbg hidden"></div>
  {{> common/header}}

  <div class="container">
    {{> common/messages}}
    <div class="store-finder-title">{{i18n "main:storeLocation.title"}}</div>
    {{> catalog/reserve/store-list stores=content.stores}}
  </div>
  {{> common/footer}}
  {{> common/htmlscripts}}
  <script src="{{@root.meta.assetsPath}}js/map-scripts.js"></script>

</body>

</html>
