.hoover-dropdown {
  position: relative;
  padding: 30px 0;
  line-height: 1;
  > span {
    color: #262626;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    i {
      color: #262626;
      font-weight: 600;
      margin-left: 3px;
      transition: all 0.4s ease 0s;
      &.angle-down {
      }
      &.angle-up {
        position: absolute;
        right: 3px;
        top: 1px;
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  ul {
    right: 0;
    top: 100%;
    position: absolute;
    background-color: #fff;
    padding: 7px;
    z-index: 11;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.2);
    transition: all 250ms ease-out;
    margin-top: 30px;
    li {
      display: block;
      a {
        padding: 5px 10px;
        white-space: pre;
        display: block;
        border-radius: 4px;
        font-size: 0.92em;
        color: #989898;
        line-height: 24px;
        &:hover {
          color: #fff;
          background-color: $theme-color;
        }
      }
      &.active {
        a {
          color: #fff;
          background-color: $theme-color;
        }
      }
    }
  }
  &:hover {
    span i {
      &.angle-down {
        opacity: 0;
        visibility: hidden;
      }
      &.angle-up {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &:hover ul {
    opacity: 1;
    visibility: visible;
    margin-top: -5px;
  }
}
