<div class="row">
  <div class="col-sm-12">
    <div class="pop-filter-select select-facet {{#unless displayList}}two-column-select{{/unless}}">
      {{#each facet.limitedOptions}}
        <div>
        {{> catalog/pop/facet-option-input facet=../facet option=this}}
        </div>
      {{/each}}
    </div>
  </div>
</div>