<div class="row">
  <div class="col-sm-12 slider-col">
	<div class="slider-range"></div>
	<input name="{{facet.minKey}}" type="text" value="{{facet.minValue}}" class="s1" required/>
	<input name="{{facet.maxKey}}" type="text" value="{{facet.maxValue}}" class="s2" required/>
  </div>
</div>
