<div class="filter-options sidebar-offcanvas" id="sidebar">
  <button class="offcanvas-btn offcanvas-btn-close icon-close" data-toggle="offcanvas" type="button">
    <span class="sr-only">{{i18n "catalog:filters.close"}}</span>
  </button>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12 ">
          <p class="filter-products"><b>{{i18n "catalog:filters.title"}}</b></p>
        </div>
      </div>
      {{> catalog/pop/facets facets=content.facets}}
    </div>
  </div>
</div>
