<div class="popular-search-phrases-title">{{i18n "no-search-result:popularSearchPhrases.title"}}</div>
<div class="popular-search-phrases-wrapper">
  <div class="popular-search-phrases">
    {{#each content.phrases.popular}}
      <div>{{text}}</div>
    {{/each}}
  </div>
</div>
<div class="popular-products-title">{{i18n "no-search-result:popularSearchPhrases.suggestionsTitle"}}</div>
