<div class="search-not-found-title">
  <div class="search-results-title">{{i18n "no-search-result:searchNotFound.title"}}</div>
  <div class="search-results">{{i18n "no-search-result:searchNotFound.notFound"}}</div>
  <hr class="search-not-found-hr">
</div>
<div class="not-found-keyword">'{{i18n "no-search-result:searchNotFound.keyword"}}'</div>
<div class="not-found-description-wrapper">
  <div class="not-found-description">{{i18n "no-search-result:searchNotFound.description"}}</div>
</div>
<hr class="search-not-found-hr-bottom">
