<select name="{{content.sortSelector.key}}" class="select-product-detail" required>
{{#each sortSelector.list}}
  <option value="{{value}}" {{#if selected}}selected{{/if}}>{{label}}</option>
{{/each}}
</select>
