<div>
  <span class="dl-icon-user12"></span>
  <span v-if="showLoggedIn" class="hidden-xs">
    <button @click="logout" data-test="logout-button">
      <span>{{ $t("signOut") }}</span>
    </button>
  </span>
  <span v-if="showLoggedIn">
    <router-link :to="{ name: 'user' }" data-test="login-info-name">
      <span class="hidden-xs hidden-sm">{{ me.customer.firstName }}</span>
    </router-link>
  </span>
  <span v-else data-test="login-button">
    <router-link :to="{ name: 'login' }">
      <span class="hidden-xs hidden-sm">
        {{ $t("signIn") }}
      </span>
    </router-link>
  </span>
</div>