<div>
  <LoadingSpinner v-if="isLoading" />
  <div v-else-if="categories && products" class="container">
    <TopBar @toggleFilter="toggleFilter" @changeSort="changeSort" v-bind:show="show" v-bind:sort="sort" />
    <ProductFilter :facets="facets" v-bind:show="show" />
    <div class="shop-wrapper" v-if="products.results.length">
      <div class="row">
        <ProductThumbnail v-for="product in products.results" data-test="product-list" :key="product.id"
          :product="product" />
      </div>
      <Pagination 
        :pageSize="limit"
        :total="totalProducts"
        :page="page"
        @pagechanged="changePage" />
    </div>

    <div v-else>
      <div class="empty-results-container">
        <span class="empty-results" data-test="empty-results">
          {{ $t('notFound') }}
        </span>
      </div>
    </div>
  </div>
  <div v-else>
    <div class="empty-results-container">
      <span class="empty-results" data-test="category-not-found">
        {{ $t('categoryNotFound') }}
      </span>
    </div>
  </div>
</div>