<div class="login-register-area section-padding-1 pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <LoginForm />
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="login-register-wrap register-wrap">
          <h3>Register</h3>
          <div class="login-register-form">
            <form action="#">
              <div class="sin-login-register">
                <label>Email address <span>*</span></label>
                <input type="email" name="user-name">
              </div>
              <div class="sin-login-register">
                <label>Password <span>*</span></label>
                <input type="password">
              </div>
              <div class="vendor-customar-active">
                <div class="sin-login-register">
                  <label>First Name <span>*</span></label>
                  <input type="text">
                </div>
                <div class="sin-login-register">
                  <label>Last Name <span>*</span></label>
                  <input type="text">
                </div>
                <div class="sin-login-register">
                  <label>Shop Name <span>*</span></label>
                  <input type="text">
                </div>
                <div class="sin-login-register">
                  <label>Shop URL <span>*</span></label>
                  <input type="text">
                </div>
                <div class="sin-login-register">
                  <label>Phone Number <span>*</span></label>
                  <input type="text">
                </div>
              </div>
              <div class="vendor-customar-wrap">
                <label class="radio vendor-close"><input type="radio" name="role" value="customer">I am a customer
                </label>
                <label class="radio vendor-active"><input type="radio" name="role" value="seller" checked="checked">I am
                  a vendor </label>
              </div>
              <p>Your personal data will be used to support your experience throughout this website, to manage access to
                your account, and for other purposes described in our <a href="#">privacy policy.</a></p>
              <div class="login-register-btn">
                <button type="submit">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
