.pro-details-size {
  select {
    padding: 0 10px;
    font-size: 14px;
    color: #262626;
    display: inline-block;
    border: 1px solid #e8e8e8;
    width: auto;
    height: 50px;
    line-height: 40px;
    text-align: center;
  }

  span {
    color: #262626;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 8px;
    display: block;
  }
}
